body {
    background-color:rgb(255, 0, 0);

    /* Hobbies List*/
    #hobbies ul li{
        color:black;
    }
    #hobbies ul li:nth-child(3n-1) {
        color:green;
    }
    #hobbies ul li:nth-child(3n) {
        color:blue;
    }

    /*Gallery */
    #gallery img {
        max-width:100%;
    }
}