body {
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(156, 248, 209);
    color:black;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Cambria";
    text-align:center;
}

/* Hero section */

#hero img {
    width:300px;
}

h1 {
    font-size:50pt;
}

header {
    text-align:center;
}

/* Bio section */

#bio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bio h2{
    margin:.5ex;
}

/* Hobbies List */
#hobbies ul li{
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hobbies ul li:nth-child(3n-1) {
    color:green;
}
#hobbies ul li:nth-child(3n) {
    color:blue;
}

/* Gallery */

#gallery {
    border: 2px solid black;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}

/* Literature */
#lit {
    border: 2px solid black;
    margin-bottom:2rem;
}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

/*Article*/
article p::first-letter {
    color: rgb(123, 123, 255)
    background-color: rgb(14, 14, 111);
    font-family:"Jacquard 24";
    float:left;
    border:5px double ;
    border-radius:10px;
    padding;.2ex;
    font-size: 500%;
    margin-right:.5ex;
    text-shadow;1px 1px 

}

@media screen and (min-width: 60em) {

    figure{
        display:grid;
        grid-template-columns: 2fr 1fr;
}
figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
}